@page "/Employee"
@inject NavigationManager NavigationManager
<h3>Employees</h3>

<SfGrid DataSource="GridData" AllowFiltering="true" AllowPaging="true" Toolbar="@(new List<string>() { "Search"})">

    <GridColumns>
        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
        <GridColumn Width="60">
            <Template>
                @{
                    var employee = context as Employee;
                    <SfButton CssClass="e-inherit" IconCss="e-icons e-edit"
                              OnClick="@(() => EditEmployee(employee!.Id))"></SfButton>

                }
            </Template>
        </GridColumn>
            <GridColumn Field="FirstName" HeaderText="First Name"></GridColumn>
            <GridColumn Field="LastName" HeaderText="Last Name"></GridColumn>
            <GridColumn Field="NickName" HeaderText="Nick Name"></GridColumn>
            <GridColumn Field="Place" HeaderText="Place"></GridColumn>
            <GridColumn Field="DateOfBirth" HeaderText="Date of Birth" Format="yyyy-MM-dd"></GridColumn>
    </GridColumns>
    
</SfGrid>
@code {
    public List<Employee> GridData { get; set; } = new List<Employee>
    {
        new Employee
        {
            Id = 1,
            FirstName = "Nikos",
            LastName ="Bezos",
            Email ="Nikos.Bezos@gmail.com",
            Phone ="232045553",
            DateOfBirth= new DateTime(2001,2,3),

            NickName="nickbez",
            Place = "Trikala",
            Salary =3000
        },
         new Employee
        {
            Id = 2,
            FirstName = "d",
            LastName ="d",
            Email ="d",
            Phone ="555",
            NickName="dd",
            Place = "d",
            Salary =2000
        }
    };

    void EditEmployee(int id)
    {
        NavigationManager.NavigateTo($"contacts/edit/{id}");
    }
}
