@page "/"

<h1>Hello, world!</h1>

<SfDatePicker TValue="DateTime?" Placeholder='Choose a Date'></SfDatePicker>
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Schedule.Internal

@inject IJSRuntime JSRuntime;


